# Функциональное  программирование 

* * * 

## Передача функции как параметра


Пример.

Дано Функция и отрезок $[a,b]$. Проверить, что на концах отрезка знаки значений функции не совпадают. Такую проверку используют для метода биссекции решения уравнения.

In [1]:


def test_func_sign(func,a,b):
    fa = func(a)
    fb = func(b)
    return fa*fb<0

In [5]:
import math
test_func_sign(math.cos, -math.pi/2, math.pi/2)

False

In [6]:
test_func_sign(math.sin, -math.pi/2, math.pi/2)

True

## Lambda-выражение

$x$ --  переменная (произвольное значение)

$\lambda(x) \rightarrow y $, где $\lambda$-- произвольная функция в работах математика Чёрча 

В языке Lisp и Python инструкция lambda создает безымянную  функцию


**Пример**

```python
lambda x,y : выражение от x и y
```

Результат данного lambda-выражения это объект, описывающий функцию с 2-мя формальными параметрами x, y, 


* * *

### Lambda-выражение позволяет записать выражение для вычисления функции прямо в месте вызова

Именованную функцию мы можем в одном месте программы создать, и затем во многих местах программы вызывать

In [5]:
def last_elem(spisok):    
    return spisok[-1]
# дата последнего понедельника, если январь начинается с понедельника 
last_elem( range(1, 32, 7) )

29

последний куб натурального числа не превосходящий 100

In [2]:
last_elem(  [ i**3 for i in range(1,10) if i**3 < 100 ]  )

64

А функция, заданная lambda-выражением в том же месте, где она вызывается, в каких-то случаях  может быть удобней и понятней чем вызов заранее определённой функции

сравните:

In [3]:
#<------функция-----------> <---фактический параметр-> 
(lambda spisok: spisok[-1]) (   range(1, 32, 7)     )

29

In [4]:
last_elem_l = lambda spisok: spisok[-1]
last_elem_l(range(1, 32, 7)  )

29

In [7]:
last_elem_ref= last_elem
last_elem_ref("abcd")

'd'

In [8]:
dir(last_elem_ref)

['__annotations__',
 '__call__',
 '__class__',
 '__closure__',
 '__code__',
 '__defaults__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__get__',
 '__getattribute__',
 '__globals__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__kwdefaults__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [9]:
last_elem_ref.__name__

'last_elem'

In [10]:
last_elem_l.__name__

'<lambda>'

In [3]:
#<------функция-----------> <------- -----фактический параметр-----------> 
(lambda spisok: spisok[-1]) ([ i**3 for i in range(1,10) if i**3 < 100 ])

64

### Lambda  для сокращения выражений с повторяющимися подвыражениями

* * *

Допустим, нужно вычислить выражение:
$$    \left(\sin\frac{\pi}{6}\right)^2+\frac{1}{\left(\sin \frac{\pi}{6}\right)^4} $$

In [11]:
import math
#<=======функция========>  <фактический параметр>                
(lambda x: x**2 + 1/x**4)  (math.sin(math.pi/6))

16.250000000000007

Выражение $\sin \frac{\pi}{6}$ будет вычислено  один раз и подставится в lambda-выражение вместо формального параметра `x`

* * *

Другой пример:

на примере одного и того же строкового литерала `"Actual FUNCTION parameter"` я хочу продемонстрировать разные методы применимые к строковому значению 
```
 str.upper(),
 str.title(),
 str.capitalize(),
 str.lower()
```

In [13]:
print( (lambda s: """As Is: {}
Upper: {}
Title: {}
Capitalize: {}
Lower:{}""".format(
                     s, s.upper(),
                     s.title(),
                     s.capitalize(),
                     s.lower()) ) ("Actual FUNCTION parameter") 
     )

As Is: Actual FUNCTION parameter
Upper: ACTUAL FUNCTION PARAMETER
Title: Actual Function Parameter
Capitalize: Actual function parameter
Lower:actual function parameter

### Lambda  для описания функций

In [7]:
myfunc = lambda x: x**2 + 1/x**4

myfunc(math.sin(math.pi/6))

16.250000000000007

In [8]:
def myfunc(x): 
   return x**2 + 1/x**4

myfunc(math.sin(math.pi/6))

16.250000000000007

In [9]:
def myfunc2(x,y=3): 
   return x**2 + 1/y**4

myfunc2(math.sin(math.pi/6))

0.2623456790123456

In [10]:
myfunc2.__name__

'myfunc2'

In [11]:
newfunc2 = myfunc2

In [12]:
newfunc2(math.sin(math.pi/6))

0.2623456790123456

In [13]:
newfunc2.__name__

'myfunc2'

In [15]:
def value_in_point (real_func, x=1):
    return real_func (x)

In [16]:
value_in_point ( math.sin , math.pi/2)

1.0

In [16]:
value_in_point ( math.asin )

1.5707963267948966

In [17]:
value_in_point ( lambda y: y+10 )

11

In [18]:
value_in_point ( lambda y: y+10,2 )

12

### Параметр key в стандарной функции sorted()

```python
sorted(последовательность, key=функция)
```

In [19]:
sorted(["лала","тополя", "3 рубля"])

['3 рубля', 'лала', 'тополя']

In [20]:
sorted(["лала","тополя", "3 рубля"], key=len)

['лала', 'тополя', '3 рубля']

In [21]:
sorted(["лала","тополя", "3 рубля"], key=len,reverse=True)

['3 рубля', 'тополя', 'лала']

In [22]:
# сортирую по 2-му символу
sorted(["лала","тополя", "3 рубля"], key=lambda s : s[1])

['3 рубля', 'лала', 'тополя']

In [23]:
# сортирую игнорируя пробелы
sorted([" \t       лала","     тополя", "       3 рубля"], key=lambda s : s.strip() )

['       3 рубля', ' \t       лала', '     тополя']

In [24]:
# сортирую игнорируя регистр и пробелы
sorted([" \t       лала","     ТОПОЛЯ", "       3 рубля"], key=lambda s : s.strip().upper() )

['       3 рубля', ' \t       лала', '     ТОПОЛЯ']

In [25]:
# сортирую не игнорируя регистр 
sorted(["лала","ТОПОЛЯ", "3 рубля"])

['3 рубля', 'ТОПОЛЯ', 'лала']

* * *

#### seq unpacking 

seq[0],seq[1],seq[2],.. <=> *seq

In [18]:
list1=list(range(5))

In [19]:
print(*list1, sep=", ")

0, 1, 2, 3, 4

In [20]:
print(*range(5), sep=", ")

0, 1, 2, 3, 4

## map
```python
map( функция, последовательность)
```

In [26]:
map ( len, ["lala", "topolya"])

In [22]:
mapo = map ( len, ["lala", "topolya"])

In [23]:
next(mapo)

4

In [24]:
next(mapo)

7

In [27]:
for i in map ( len, ["lala", "topolya"]):
    print(i)

4
7

In [21]:
print(*map ( len, ["lala", "topolya"]))

4 7

In [29]:
print(*map ( lambda s: s.upper(), ["lala", "topolya"]))

LALA TOPOLYA

In [30]:
imap = (map(int, " 123 4 5 5".split()))

In [31]:
for i in imap:
    print(i)

123
4
5
5

In [32]:
sum(imap)

0

In [25]:
imap = (map(int, " 123 4 5 5".split()))

In [26]:
sum(imap)

137

In [27]:
list(map(int, " 123 4 5 5".split()))

[123, 4, 5, 5]

In [28]:
tuple(map(pow, [1,2,4], [2,-2,1/2]))

(1, 0.25, 2.0)

In [37]:
pow(2,-2)

0.25

In [29]:
print(*filter( lambda x: x%3==0 , range(1,11)))

3 6 9

In [30]:
print(*filter( lambda x: x%3==0 , map(lambda x: pow(x,2),  range(1,11))))

9 36 81

In [31]:
print(sum(filter( lambda x: x%3==0 , map(lambda x: pow(x,2),  range(1,11)))))

126

In [32]:
print(*filter(str.isdigit,"134abc467"))

1 3 4 4 6 7

## functools.reduce()  -- reduce to single value

```python
accumulator = reduce(combine_func, посдедовательность)
```
соответствует такому циклу:



```python
accumulator = последовательность[0]
for i in последовательность[1:] :
    accumulator = combine_func(accumulator, i)
```

In [28]:
from functools import reduce

In [29]:
reduce(lambda x,y: x+y, [2,1,5,6])

14

In [30]:
reduce(lambda x,y: " ({},{})".format(x,y), [0,1,2,3])

' ( ( (0,1),2),3)'

* * *

#### Задача 
Подсчитать значение многочлена заданного списком коэффициентов [$a_n$, $a_{n-1}$, $\ldots$ , $a_0$  ] в точке x без операций возведения в степень (только сложениями и умножениями) по схеме Горнера

$$ F(x; (a_0,a_1,\ldots, a_n) ) = $$
$$ = a_n\cdot x^n + a_{n-1}\cdot x^{n-1}+\ldots+a_0 = $$
$$ \left( \ldots \left(\left( a_n\cdot x \right)+  a_{n-1} \right) \cdot x + \ldots \right)\cdot x + a_0 $$ 

##### Схема Горнера
```python
accum = a[0]  # a при x в n-й стерени
for v in a[1:]:
   accum = accum * x + v
print(accum)
```

Напишите решение при помощи reduce( func2, a )

In [102]:
from functools import reduce
x=-3
a=[1,-2,1]   # x**2 - 2*x +1
reduce(lambda acc,v: acc*x+v, a)

16

In [44]:
func1 = lambda x,y: x**y-1

In [45]:
func1(5,3)

124

In [46]:
x=5

In [47]:
import math
x>0 and math.sqrt(x)

2.23606797749979

In [48]:
x=-3
x>0 and math.sqrt(x)

False

In [49]:
import operator

In [50]:
"lala".upper()

'LALA'

In [51]:
upper_func = operator.methodcaller("upper")

In [52]:
upper_func("lala")

'LALA'

In [53]:
print(*map(operator.methodcaller("upper"), ["aaa", 'bbb']))

AAA BBB

In [54]:
print(*map(lambda s: s.upper(), ["aaa", 'bbb']))

AAA BBB

In [55]:
li1=[1,222,13,4,56,6]

In [56]:
print(*enumerate(li1,1))

(1, 1) (2, 222) (3, 13) (4, 4) (5, 56) (6, 6)

In [57]:
tuple(zip(li1, range(len(li1))))

((1, 0), (222, 1), (13, 2), (4, 3), (56, 4), (6, 5))

In [58]:
list( zip(["Оля", "Катя", "Зина"],["Коля","Боря"]))

[('Оля', 'Коля'), ('Катя', 'Боря')]

* * *

### Задача

Подсчитать при помощи str(N), map и sum() сумму цифр натурального числа

In [90]:
N=123

In [100]:
def sum_of_digit(dig):
    return sum(map(lambda n: int(n), str(dig)))

In [101]:
sum_of_digit(123)

6

* * *

### Задача

Подсчитать при помощи str(N)и reduce() без map() сумму цифр натурального числа

In [188]:
def sum_of_digit2(dig):
    return reduce(lambda x,y: int(x) + int(y), str(dig))

In [189]:
sum_of_digit2(123)

6

* * *

### Задача

Найти при помощи reduce(), map() число в списке, имеющее максимальную сумму цифр

In [190]:
L1 = [256,99,11]

In [191]:
def max_item_1_pair():
    maxlist = [reduce(lambda x,y: int(x) + int(y), str(i)) for i in L1]
    return max(maxlist)

In [192]:
max_item_1_pair()

18

### Как работает zip(l1,l2)

In [194]:
print(*zip(L1, map(sum_of_digit,L1)))

(256, 13) (99, 18) (11, 2)

In [195]:
L2=tuple(map(sum_of_digit,L1))

In [196]:
PL= zip(L1,L2)

In [197]:
tuple(PL)

((256, 13), (99, 18), (11, 2))

In [198]:
PL= zip(L1,L2)
tuple(zip(*PL))

((256, 99, 11), (13, 18, 2))

In [199]:
(lambda x: x.upper()) ("lala")

'LALA'

In [200]:
print(*map(  lambda s: s.upper() , ("lala","topolya")))

LALA TOPOLYA